<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <script src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
  <script src="/javascripts/home.js" defer></script>
  </head>

  <body>
    <div id="Form">
      <p id="welcome">welcome To Fake Uber</p>
      <form class="e" id="login">
      <label class="e" for="username">Enter UserName</label><br>
      <input class="e" type="text" id="username" name="username"><br>
      <label class="e" for="Password">Enter password</label><br>
      <input class="e" type="text" id="Password" name="Password"><br><br>
      <button id="submit">Submit</button>
      <p id="badLogin"></p>
      <ul>
        <li class="link"><a href="/signUp1.html">Not a member? sign up</a></li>
      </ul>
      <p id="error"></p>
      </form>
    
    </div>
  </body>
</html>
