body{
    font: "Lucida Console";
    list-style-type: none;
    background-image: url("../images/help.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.navBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #252422;
    display: flex;
   
  }
  
  .navBar li {
    float: left;
    border-style: solid;
    border-width: 3px;
    border-color: #F7F7F7;
    width:20%;

    font: "Lucida Console";
  }
  
  .navBar a {
    font: "Lucida Console";
    display: block;
    color: #F7F7F7;
    text-align: center;
    margin-top: 10px;
    padding: 3% 3%;
    text-decoration: none;
   
  }
  #div{
  height: 300px;
  background-color: #252422;
  width: 50%;
  margin: auto;
  text-align: center;
  }
  #welcome{
    font-size: 40px;
    text-align: center;
 
  }
  .helpLinks{
 
    display: block;
 
  
  }
  .helpLinks li{
    margin-bottom: 10%;
    color: #F7F7F7;
    list-style-type: none;

  }
  .helpLinks a{
    padding: 3%;
    font-size: 40px;
    display: block;
    color: #F7F7F7;
    text-decoration: none;
  }