body {
  font: 44px "Copperplate";
  background-image: url("../images/login.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}
p{
  color: #252422;
}
a {
  color: #252422;
  background-color: #F7F7F7;
  text-decoration: none;
  padding: 0%;
}

#Form {
   color: #F7F7F7;
  display: block;
  text-align: center;
  text-decoration: none;
  width: 100%;
  height: 100%;

}
#login{
  display: inline-block;
  margin-right: auto;
  text-align: center;
  margin-left: auto;
  background-color: #252422;
  padding-bottom: 10%;
  padding-top: 5%;
  height: 25%;


}
.e {
  width: 50%;
  
  text-decoration: none;
}
.link{
  display: block;
  text-decoration: none;
}
ul{
list-style: none;
justify-content: space-around;
text-decoration: none;
}
li{
  text-decoration: none;
  color: #FFD166;
}